{% load static %}
<div class="responsive-nav">
  <i class="fa fa-bars" id="menu-toggle"></i>
  <div id="menu" class="menu">
    <i class="fa fa-times" id="menu-close"></i>
    <div class="container">
      <div class="image">
          <a href="#"><img src="{{ author.image.url }}" alt="" /></a>
      </div>
      <div class="author-content">
        <h4>{{ author.name}}</h4>
        <span>{{ author.title}}</span>
      </div>
      <nav class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="/" dir="auto" style="unicode-bidi: plaintext;" class="{% if request.path == '/' %}active{% endif %}">من أنا ؟</a></li>
            <li><a href="{% url 'services' %}" dir="auto" style="unicode-bidi: plaintext;" class="{% if request.path == '/services/' %}active{% endif %}">ماذا أقدم؟</a></li>
            <li><a href="{% url 'my_works' %}" dir="auto" style="unicode-bidi: plaintext;" class="{% if request.path == '/my-works/' %}active{% endif %}">أعمالي</a></li>
            <li><a href="{% url 'contact_me' %}" dir="auto" style="unicode-bidi: plaintext;" class="{% if request.path == '/contact/' %}active{% endif %}">تواصل معي</a></li>
            <!-- Add more static or dynamic links as needed -->
        </ul>
      </nav>
      <div class="social-network">
        <ul class="soial-icons">
          {% comment %} <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li> {% endcomment %}
          {% comment %} <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li> {% endcomment %}
          <li>
            <a href="https://www.linkedin.com/in/ahmed-yunis-50470288"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/ahmedhuyu"><i class="fa fa-github"></i></a>
          </li>
          {% comment %} <li>
            <a href="#"><i class="fa fa-rss"></i></a>
          </li> {% endcomment %}
        </ul>
      </div>
      <div class="copyright-text">
        <p>Copyright 2025 Ahmed Yunis</p>
      </div>
    </div>
  </div>
</div>